<?xml version="1.0" ?>
<model>
    <name>visualtag_36</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>Yizheng Zhang</name>
       <email>zhangyzh1@shanghaitech.edu.cn</email>
      </author>
    
    <description>robomaster visual tag gazebo model</description>
</model>

